@font-face {
  font-family: 'LovelyBoys';
  src: url("../fonts/LovelyBoys.otf") format("opentype"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 65.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Franklin Gothic", sans-serif;
  color: #272726;
  font-weight: 300;
  line-height: 1.6;
  background-color: #FAFAFA;
  overflow-x: hidden; }

a {
  text-decoration: none; }

button {
  color: white;
  background-color: #FCCD00;
  font-size: 1.6rem;
  border-radius: 20rem;
  border: none;
  padding: 1.3rem 2.2rem;
  margin-top: 2.5rem; }

p {
  font-size: 1.6rem; }

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/landing-img.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top right; }
  @media only screen and (max-width: 65.5em) {
    header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/landing-img-mobile.png);
      background-size: cover; }
      header h2 {
        color: white; } }

nav {
  display: flex;
  align-items: flex-start; }
  nav .logo {
    width: 3.7rem;
    margin: 3rem 5rem;
    display: inline-block; }
  nav a {
    font-size: 1.6rem;
    color: #272726;
    margin: 4rem 4rem; }
    @media only screen and (max-width: 75em) {
      nav a {
        margin: 4rem 2rem; } }
    @media only screen and (max-width: 65.5em) {
      nav a {
        margin: 4rem 2rem;
        color: white; } }
    @media only screen and (max-width: 37.5em) {
      nav a {
        margin: 4rem 1rem; } }

.header-section {
  margin-top: 6rem;
  margin-left: 15rem; }
  @media only screen and (max-width: 75em) {
    .header-section h1 {
      font-size: 7rem; } }
  @media only screen and (max-width: 65.5em) {
    .header-section {
      margin-left: 0;
      margin-top: 10rem;
      text-align: center; }
      .header-section h1 {
        color: white; } }
  @media only screen and (max-width: 37.5em) {
    .header-section {
      margin: 4rem 1rem; } }

.featured-section {
  margin-left: 15rem;
  margin-top: 8rem; }
  @media only screen and (max-width: 65.5em) {
    .featured-section {
      margin-left: 5rem;
      position: absolute;
      bottom: 5rem; } }
  .featured-section img {
    width: 15rem;
    border-radius: 2rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem; }
    @media only screen and (max-width: 65.5em) {
      .featured-section img {
        width: 15rem; } }
    @media only screen and (max-width: 37.5em) {
      .featured-section img {
        width: 11rem; } }
  .featured-section a {
    display: block;
    margin-left: 35rem; }
    @media only screen and (max-width: 65.5em) {
      .featured-section a {
        margin-left: 0; } }

.yellow-link {
  color: #FCCD00;
  font-weight: 400;
  font-size: 1.6rem; }

.link-opening-hours {
  position: absolute;
  bottom: 2rem;
  right: 3rem; }

.scroll-icon {
  width: 5rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 75em) {
    .scroll-icon {
      display: none; } }

.story-section {
  display: grid;
  grid-template-columns: 60% 1fr;
  margin-top: 12rem;
  margin-bottom: 12rem; }
  .story-section img {
    width: 90%;
    border-radius: 0rem 14rem 14rem 0; }
  .story-section p {
    margin: 3rem 10rem 0 0;
    font-weight: 300; }
  @media only screen and (max-width: 75em) {
    .story-section {
      grid-template-columns: 50% 1fr; }
      .story-section img {
        margin-top: 3rem; } }
  @media only screen and (max-width: 65.5em) {
    .story-section {
      grid-template-columns: 1fr; }
      .story-section img {
        display: none; }
      .story-section p {
        margin: 3rem 3rem 0 0; } }
  @media only screen and (max-width: 37.5em) {
    .story-section h1 {
      margin: 3rem 2rem; }
    .story-section p {
      margin: 3rem 2rem; } }

@media only screen and (max-width: 65.5em) {
  .story-content {
    max-width: 45rem;
    margin: 0 auto; } }

.experiences {
  background-image: url(../img/experiences-img.png);
  background-size: cover;
  width: 100vw;
  height: 70rem; }
  .experiences h1 {
    color: white;
    margin-left: 15rem;
    padding-top: 15rem; }
  .experiences button {
    margin-left: 15rem; }
  @media only screen and (max-width: 65.5em) {
    .experiences h1 {
      margin-left: 5rem;
      padding-top: 10rem; }
    .experiences button {
      margin-left: 5rem; } }

.menu-section h1 {
  margin: 10rem 15rem; }
  @media only screen and (max-width: 65.5em) {
    .menu-section h1 {
      margin: 8rem 4rem; } }

.menu {
  position: relative;
  margin-left: 15rem;
  background-color: white;
  min-height: 80rem;
  overflow: hidden; }
  @media only screen and (max-width: 65.5em) {
    .menu {
      margin-left: 0; } }
  .menu-nav {
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu-nav-item {
      position: relative;
      width: 25%;
      text-align: center;
      padding: 3rem 0; }
      .menu-nav-item label {
        font-size: 1.8rem;
        padding-top: 0.5rem;
        display: block; }
    .menu-nav svg {
      height: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .menu-nav svg {
          height: 3rem; } }
  .menu-content {
    width: 50%;
    margin: 8rem 0 8rem 10rem;
    display: none; }
    @media only screen and (max-width: 65.5em) {
      .menu-content {
        margin: 5rem 0 5rem 4rem;
        width: 70%; } }
  .menu-course {
    width: 60%;
    font-size: 2rem;
    font-weight: 500; }
  .menu-description {
    font-size: 1.6;
    font-weight: 300;
    margin-bottom: 3rem; }
  .menu-price {
    float: right; }
  .menu-breakfast-img, .menu-lunch-img, .menu-dinner-img, .menu-drinks-img {
    position: absolute;
    top: 15rem;
    right: 0;
    transform: translateX(40rem);
    width: 50%;
    display: none; }

.menu-content-animation {
  display: block;
  animation: menu-content-animation 0.5s; }

.menu-img-animation {
  display: block;
  animation: menu-img-animation 1s forwards; }
  @media only screen and (max-width: 37.5em) {
    .menu-img-animation {
      display: none; } }

@keyframes menu-content-animation {
  from {
    transform: translateX(-3rem);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes menu-img-animation {
  from {
    transform: translateX(60rem); }
  to {
    transform: translateX(20rem); } }

.menu-nav-item-active {
  background-color: #FCCD00;
  color: white; }
  .menu-nav-item-active .cls-1 {
    fill: white; }
  .menu-nav-item-active .cls-2 {
    stroke: white; }

.radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer; }

.open-hours {
  position: relative;
  background-image: url(../img/open-hours.png);
  background-size: cover;
  width: 100vw;
  height: 50rem; }
  .open-hours-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center; }
  .open-hours-item {
    margin: 0 5rem;
    display: flex;
    justify-content: space-between; }
  .open-hours h1 {
    color: white;
    text-align: center;
    margin-bottom: 2rem; }

.open-hours {
  display: none; }

.heading-primary {
  font-family: "LovelyBoys", sans-serif;
  font-size: 10rem;
  font-weight: 100;
  line-height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 8rem; } }

.color-primary {
  color: #FCCD00; }

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 300; }
